/***** DASHBOARD PAGE *****/
.dashboard {
  #sign-out {
    float: right;
    color: red;
    font-weight: bold;
    font-style: italic;

    &:hover {
      /* text-decoration: none; */
    }
  }

  /***** SIDE NAV *****/
  #side-nav {
    .active a {
      background-color: gray !important;
    }
  }

  /***** MOSAICS PAGE *****/
  .mosaics {
    padding-left: 0px;
    list-style-type: none;

    .mosaic {
      display: inline;
      
      img {
        width: 45%;
        margin: 1px;

        &:hover {
          border: 1px solid rgba(68, 83, 142, 0.74);
        }
      }
    }
  }

  /***** PROFILE PAGE *****/
  .profile {
    .form-control {
      font-size: 14px;
      height: auto;    
      padding: 6px;

      &:focus {
        z-index: 2;
      }
    }

    input {
      margin: 0 auto;
      width: 60%;
    }

    .profile-header {
      overflow: hidden;
      border-bottom: 1px solid gray;
      margin-bottom: 4px;

      .profile-title {
        float: left;
      }

      .update {
        float: right;
        background: transparent;
        font-weight: bold;
      }
    }

    .textfield-error {
      border: 1px solid red;
    }
  }
}