<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#composition_modal">
  Choose Composition Pictures
</button>

</br>
</br>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#base_modal">
  Choose Base Pictures
</button>


<!-- Composition Images Modal -->
<%= render 'modals/composition' %>

<!-- Base Image modal -->
<%= render 'modals/base' %>