<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#upload_modal">
  Upload Pictures
</button>

</br>
</br>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#choose_composition_modal">
  Select Pictures
</button>


<!-- Upload Images Modal -->
<%= render 'modals/upload' %>
<!-- Choose Images Modal -->
<%= render 'modals/select' %>