<div class="modal fade" id="distribution_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class: 'modal-title', id: 'myModalLabel'> View Picture Color Distribution </h4>
      </div>

      <div class="modal-body">
        
        <% base_url = "https://s3.amazonaws.com/afr-mosaic/#{@user.email}" %>
        <!-- Create lists of selectable images mapped to check boxes and radio buttons created below for composition and base pictures respectively. Tied together in Mosaics.js -->
        <h5> Composition Pictures </h5>
        <% hash = fill_hash_by_hue(@user.composition_pictures) %>

        <% (0..17).each do |n| %>
          <h5> <%= n %> </h5>
          <% hash[n].each do |c| %>
            <%= image_tag "#{base_url}/composition-pictures/#{c.name}", size: '96x60' %>
          <% end %>
        <% end %>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>


    </div>
  </div>
</div>