/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/***** GENERAL / SHARED STYLES *****/

/***** Layout *****/
#container {
  max-width: 660px;
  margin-top: 100px;
  padding: 15px 20px 15px;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
}

body {
  background: #eee !important;  
}

/***** Textfield Modifiers *****/
.hidden {
  display: none;
}

.error {
  border: 1px solid red;
  color: red;
}

.success {
  border: 1px solid green;
  color: green;
}

/***** Page Headings *****/
.page-title {
  padding-bottom: 6px;
  border-bottom: 1px solid gray;
  margin-bottom: 4px;
  margin-top: 4px;
  overflow: hidden;
  width: 100%;

  .title-text {
    float: left;
    font-size: 20px;
    font-weight: bold;
  }

  .title-button {
    float: right;
    background: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bold;
  }
}
}