/***** CONTENT PAGE *****/
.upload-form {
  max-width: 90%;
  margin: 0 auto;
  
  .upload-picture-list {
    .picture-list {
      .picture-thumbnail {
        img {
          width: 30%;
        }
      }
    }
  }
}

