/***** DESIGNER PAGE *****/
#designer {
  #designer-body {
    #designer-explaination {
      text-align: left;
      font: 14px;
    }

    #mosaics-create {
      .picture-list {
        .picture {
          img {
            width: 30%;
          }
        }
      }
    }
  }
}