.nav {
  text-overflow: clip;

  .active {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;

    a {
      background-color: gray !important;
    }
  }
}

/***** REGISTRATION NAV *****/
#registration-nav {
  li {
    width: 49%;
  }
}

/***** SIDE NAV *****/
#side-nav {
}

/***** CONTENT MANAGER PAGE *****/
#content-manager-nav {
}