.nav {
  .active {
    font-weight: bold;

    a {
      background-color: gray !important;
    }
  }
}

/***** REGISTRATION NAV *****/
#registration-nav {
  li {
    width: 49%;
  }
}

/***** SIDE NAV *****/
#side-nav {
}

/***** CONTENT PAGE *****/
#content-nav {
}