/***** PROFILE PAGE *****/
#profile {
  .form-control {
    font-size: 14px;
    height: auto;    
    padding: 6px;

    &:focus {
      z-index: 2;
    }
  }

  input {
    margin: 0 auto;
    width: 60%;
  }
}