/***** PROFILE PAGE *****/
#profile {
  .form-control {
    font-size: 14px;
    height: auto;    
    padding: 6px;

    &:focus {
      z-index: 2;
    }
  }

  input {
    margin: 0 auto;
    width: 60%;
  }

  #profile-header {
    overflow: hidden;
    border-bottom: 1px solid gray;
    margin-bottom: 4px;

    .profile-title {
      float: left;
    }

    .update {
      float: right;
      background: transparent;
      font-weight: bold;
    }
  }
}